.aboutUsPage {
  font-family: 'Poppins', sans-serif;
  color: #333;
  line-height: 1.6;
}

/************Hero Section Styles - start**************/
.hero_section {
  position: relative;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* Background Video */
.video_background video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* Video stays behind the text */
}

/* Overlay for readability */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75); /* Semi-transparent overlay */
  z-index: 1;
}

/* Centered content (Text and buttons) */
.content {
  text-align: center;
  color: white;
  z-index: 2;
}

.content h1 {
  font-family: 'Lora', serif;
  font-size: 3rem;
  margin-bottom: 10px;
  font-weight: 700;
}

.content p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.25rem;
  margin-bottom: 30px;
}

.cta_buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  /* border: 2px solid black; */
}

.cta_btn {
  font-family: 'Poppins', sans-serif;
  padding: 12px 30px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.book_table {
  background-color: #f23b1b; /* Tomato color */
  color: white;
}

.book_table:hover {
  background-color: #f92904;
}

.view_menu {
  background-color: rgb(188, 188, 9); /* Blue color */
  color: white;
}

.view_menu:hover {
  background-color: rgb(140, 140, 1);
}

/************** Stroy Section Styles - start*****************/
.storySection {
  position: relative;
  height: auto;
  display: flex;
  gap: 90px;
  justify-content: center;
  align-items: flex-start;
  padding: 40px 150px;
  background-color: #000;
  color: #fff;
}

.storySection::after {
  content: "";
  position: absolute;
  width: 0%;
  left: 42.0%;
  top: 9.5%;
  height: 4px;
  border-radius: 2px;
  background-color: red;
  transition:width 0.7s ease;
}

.storySection:hover::after {
  width: 9.6%;
}

.story_video {
  position: relative;
  width: 35%;
  height: 750px;
}

.story_video video{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.StroryVideoOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100.2%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); /* Semi-transparent overlay */
  z-index: 1;
}

.storySection_text {
  width:65%;
}

.storySection h2 {
  margin-bottom: 20px;
  padding-bottom: 8px;
}

.storySection h4 {
  color: rgb(76, 75, 75);
}

.storySection p {
  font-family: 'Open Sans', sans-serif;
  font-size: 17.5px;
  max-width: 800px;
  margin: 0 auto 10px;
}

/************** Cuisine Section Styles*****************/
.cuisineSection {
  position: relative;
  height: auto;
  display: flex;
  gap: 90px;
  padding: 40px 150px;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #fff;
}

.cuisineSection::after {
  content: "";
  position: absolute;
  width: 0%;
  left: 24.8%;
  top: 31.2%;
  height: 4px;
  border-radius: 2px;
  background-color: red;
  transition:width 0.7s ease;
}

.cuisineSection:hover::after {
  width: 18.5%;
}

.cuisineSection_text {
  width: 65%;
}

.cuisineSection h2 {
  margin-bottom: 20px;
  padding-bottom: 8px;
  text-align: center;
}

.cuisineSection p {
  font-family: 'Open Sans', sans-serif;
  font-size: 17.5px;
  max-width: 800px;
  margin: 0 auto 10px;
  text-align: center;
}

.cuisine_video {
  position: relative;
  width: 35%;
  height: 550px;
}

.cuisine_video video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cuisineVideoOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100.2%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); /* Semi-transparent overlay */
  z-index: 1;
}

/**************Team Section Styles*****************/
.teamSection {
  position: relative;
  padding: 40px 20px;
  background-color: #000;
  color: #fff;
}

.teamSection::after {
  content: "";
  position: absolute;
  left: 42%;
  top: 4.7%;
  background-color: red;
  width: 0%;
  height: 4px;
  border-radius: 2px;
  transition: width 0.7s ease;
}

.teamSection:hover::after {
  width: 16%;
}

.teamSection h2 {
  text-align: center;
  margin-bottom: 20px;
}

.teamMembers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 90px;
}

.teamMember {
  display: flex;
  border-radius: 5px;
  gap: 20px;
  width:600px;
  padding: 15px;
  height: 450px;
}

.teamMember img {
  height: 100%;
}

.teamMember h3 {
  margin: 10px 0 5px;
}

/**************Review Section Styles*****************/
.reviewsSection {
  position: relative;
  background-color: #000;
  /* border: 2px solid red; */
  padding: 40px 20px;
  color: #fff;
}

.reviewsSection h2 {
  text-align: center;
  margin-bottom: 20px;
}

.reviewsDiv::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 0%;
  left: 45.75%;
  top: 9.8%;
  background-color: red;
  border-radius: 2px;
  transition: width 0.7s ease;
}

.reviewsDiv:hover::after {
  width: 8.6%;
}

.reviews {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.review {
  text-align: center;
  max-width: 300px;
  background-color: #101010;
  border-radius: 5px;
  padding: 20px;
}

.review img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.review blockquote {
  font-style: italic;
  margin-bottom: 5px;
}

.review p {
  margin-bottom: 0;
  color: #939393;
}

/* review form */
.reviewForm {
  position: relative;
  padding: 20px 20px 40px 20px;
  background-color: #000;
  color: #fff;
}

.reviewFormDiv::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 0;
  left: 42%;
  top: 9.8%;
  background-color: red;
  border-radius: 2px;
  transition: width 0.7s ease;
}

.reviewFormDiv:hover::after {
  width: 16.2%;
}

.reviewForm h2 {
  text-align: center;
  margin-bottom: 30px;
}

.form {
  max-width: 500px;
  margin: 0 auto;
}

.formGroup {
  margin-bottom: 15px;
}

.formGroup label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.formGroup input,
.formGroup textarea,
.formGroup select {
  width: 100%;
  padding: 10px;
  background-color: #1B1A1A;
  color: #fff;
  outline: none;
  border: none;
}

.submitButton {
  width: 100%;
  padding: 10px 0;
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
  border: none;
  /* border-radius: 4px; */
  cursor: pointer;
}

.submitButton:hover {
  background-color: #0056b3;
}


/* FAQ Section */
.faqSection {
  padding: 40px 20px;
  background-color: #f9f9f9;
}

.faqSection h2 {
  text-align: center;
  margin-bottom: 20px;
}

.faqs {
  max-width: 800px;
  margin: 0 auto;
}

.faq {
  margin-bottom: 20px;
}

.faq h3 {
  margin-bottom: 5px;
  font-weight: bold;
}

.faq p {
  margin: 0;
}
