#problemStatementsSection {
  padding: 30px 20px;
  background-color: #f9f9f9;
  color: #000;
}

#problemStatementsSection h2{
  text-align: center;
  font-weight: 700;
  color: #2c3e50;
  margin-bottom: 30px;
}

#problemStatementsSection h2 span {
  position: relative;
}

#problemStatementsSection h2 span::after {
  content: "";
  position: absolute;
  bottom: -8px;
  width: 200px;
  height: 4px;
  left: 20px;
  background-color: red;
  border-radius: 3px;
}

.problems {
  /* color: #fff; */
  padding-left: 30px;
}

.problem {
  margin-bottom: 30px;
}

.problem h4 {
  margin-bottom: 15px;
}

.problem p{
  line-height: 10px;
  font-size: 18px;
}

.cta_btn {
  font-family: 'Poppins', sans-serif;
  padding: 8px 25px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.learnMore {
  background-color: rgb(65, 217, 0);
  margin-top: 30px;
  color: white;
  margin-left: 25px;
}

.learnMore:hover {
  background-color: rgb(45, 147, 2);
}