button {
  margin-right: 10px;
  padding: 10px 20px;
  border: none;
  background-color: transparent;
  color: #fff;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button.active {
  background: #c94b06;
}

button.subActive {
  background-color: #a2ff00;
  color: #000;
}

button:hover {
  background: #c94b06;
}